/* Mixins for different color block */
/* Text on the top and legend */
.text {
  text-align: center;
  font-size: 2.4074vh;
  font-weight: bold;
  margin: 12.037vh 3.3854vw 5.0926vh 0vw;
}

.text-inside {
  font-size: 1.2963vh;
  font-weight: bold;
  background-color: #FFFF00;
  text-align: center;
  line-height: 2.963vh;
  border: 0.252vh solid black;
  color: #3b4750;
  width: 3vw;
  height: 3vh;
  font-weight: normal;
  margin-left: 80.2vw;
  border: 0.0926vh solid black;
}

.text-inside-orange {
  font-size: 1.2963vh;
  font-weight: bold;
  background-color: #FFE599;
  text-align: center;
  border: 0.252vh solid black;
  line-height: 2.963vh;
  color: #3b4750;
  width: 3vw;
  height: 3vh;
  font-weight: normal;
  margin-left: 83.1vw;
  margin-top: -3vh;
  border: 0.0926vh solid black;
}

.text-inside-grey {
  font-size: 1.2963vh;
  color: #616161;
  font-weight: bold;
  background-color: #D4D4D4;
  text-align: center;
  border: 0.252vh solid black;
  line-height: 2.963vh;
  color: #3b4750;
  width: 3vw;
  height: 3vh;
  font-weight: normal;
  margin-left: 86vw;
  margin-top: -3vh;
  border: 0.0926vh solid black;
}

.text-inside-progress {
  font-size: 1.5vh;
  font-weight: bold;
  text-align: center;
  line-height: 2.963vh;
  width: 8.8vw;
  height: 3vh;
  margin-left: 80.2vw;
  margin-top: -5.9vh;
  border: 0.0926vh solid black;
}

/* First block (box + text inside) - Internet */
.internet {
  width: 17.9167vw;
  height: 10.3704vh;
}

.internet-text {
  font-size: 1.2963vh;
  font-weight: bold;
  background-color: #FFFF00;
  text-align: center;
  line-height: 2.963vh;
  border: 0.252vh solid black;
  width: 7.6297vw;
  height: 3.8102vh;
  margin: 3.7037vh 0px 0px 5vw;
}

.internet__right {
  width: 19.8438vw;
  height: 10.3704vh;
}

.internet__right-text {
  font-size: 1.2963vh;
  font-weight: bold;
  background-color: #FFE599;
  text-align: center;
  border: 0.252vh solid black;
  line-height: 2.963vh;
  width: 12.0021vw;
  height: 3.0481vh;
  margin: 0px 0px 0.463vh 0px;
}

.internet__left {
  width: 14.2708vw;
  height: 10.3704vh;
}

.internet__left-text {
  font-size: 1.2963vh;
  font-weight: bold;
  background-color: #FFE599;
  text-align: center;
  border: 0.252vh solid black;
  line-height: 2.963vh;
  width: 12.7604vw;
  height: 3.0481vh;
  margin: 0px 0px 0.463vh 1.3542vw;
}

/* Second block - CSS / HTML / JS */
.basic__left {
  width: 14.2708vw;
  height: 23.7037vh;
}

.basic__left-text {
  font-size: 1.2963vh;
  font-weight: bold;
  background-color: #FFE599;
  text-align: center;
  border: 0.252vh solid black;
  line-height: 2.963vh;
  width: 12.7854vw;
  height: 3.0481vh;
  margin: 1.5741vh 0px -1.0185vh 1.3542vw;
}

.basic__left-text_bottom {
  font-size: 1.2963vh;
  font-weight: bold;
  background-color: #FFE599;
  text-align: center;
  border: 0.252vh solid black;
  line-height: 2.963vh;
  width: 12.7854vw;
  height: 3.0481vh;
  margin: 2.5vh 0px -2.037vh 1.4063vw;
}

.basic {
  width: 17.9688vw;
  height: 23.7037vh;
}

.basic-text {
  font-size: 1.2963vh;
  font-weight: bold;
  background-color: #FFFF00;
  text-align: center;
  line-height: 2.963vh;
  border: 0.252vh solid black;
  width: 10.7161vw;
  height: 3.8102vh;
  margin: 6.3889vh 0px -5.7407vh 3.75vw;
}

.basic__right {
  width: 11.9792vw;
  height: 23.7037vh;
}

.basic__right-text {
  font-size: 1.2963vh;
  font-weight: bold;
  background-color: #FFE599;
  text-align: center;
  border: 0.252vh solid black;
  line-height: 2.963vh;
  width: 12.0021vw;
  height: 3.0481vh;
  margin: 3.8889vh 0px -3.2407vh 0px;
}

.basic__right-text-one {
  font-size: 1.2963vh;
  font-weight: bold;
  background-color: #FFE599;
  text-align: center;
  border: 0.252vh solid black;
  line-height: 2.963vh;
  width: 12.0021vw;
  height: 3.0481vh;
  margin: 3.8889vh 0px -3.2407vh 0px;
  font-size: 1.1111vh;
}

.basic__right-right {
  width: 7.8646vw;
  height: 23.7037vh;
}

.basic__right-right-text {
  font-size: 1.2963vh;
  font-weight: bold;
  background-color: #FFE599;
  text-align: center;
  border: 0.252vh solid black;
  line-height: 2.963vh;
  width: 4.9297vw;
  height: 17.0213vh;
  margin: 4.7444vh 0px 0px 1.0938vw;
  line-height: 2.5259vh;
  padding: 0.6778vh;
}

/* Third block - Git + Some JS*/
.git__left {
  width: 14.2708vw;
  height: 17.037vh;
}

.git__left-text {
  font-size: 1.2963vh;
  font-weight: bold;
  background-color: #FFE599;
  text-align: center;
  border: 0.252vh solid black;
  line-height: 2.963vh;
  width: 12.7854vw;
  height: 3.0481vh;
  margin: 0.3704vh 0vw 0.6481vh 1.4063vw;
}

.git__left-text-big {
  font-size: 1.2963vh;
  font-weight: bold;
  background-color: #FFE599;
  text-align: center;
  border: 0.252vh solid black;
  line-height: 2.963vh;
  width: 12.7854vw;
  height: 8.6111vh;
  margin: 0.3704vh 0px 0.6481vh 1.4063vw;
}

.git {
  width: 17.9688vw;
  height: 17.037vh;
}

.git-text {
  font-size: 1.2963vh;
  font-weight: bold;
  background-color: #FFFF00;
  text-align: center;
  line-height: 2.963vh;
  border: 0.252vh solid black;
  width: 14.4026vw;
  height: 5.8676vh;
  margin: 2.5926vh 0px 0px 2.8646vw;
  line-height: 2.1111vh;
  padding: 0.3704vh;
}

.git-text_bottom {
  font-size: 1.2963vh;
  font-weight: bold;
  background-color: #FFFF00;
  text-align: center;
  line-height: 2.963vh;
  border: 0.252vh solid black;
  width: 9.2589vw;
  height: 4.1148vh;
  margin: 1.5741vh 0px 0px 2.8646vw;
  line-height: 3.7037vh;
}

.git__right {
  width: 19.8438vw;
  height: 17.037vh;
}

.git__right-text {
  font-size: 1.2963vh;
  font-weight: bold;
  background-color: #FFFF00;
  text-align: center;
  line-height: 2.963vh;
  border: 0.252vh solid black;
  width: 15.0885vw;
  height: 5.8676vh;
  margin: 2.5vh 0px 0px 0.4688vw;
  line-height: 2.1111vh;
  padding: 0.3704vh;
}

.git__right-text-bottom {
  font-size: 1.2963vh;
  font-weight: bold;
  background-color: #FFFF00;
  text-align: center;
  line-height: 2.963vh;
  border: 0.252vh solid black;
  width: 9.1667vw;
  height: 3.0556vh;
  margin: 1.2963vh 0px 0px 0.4688vw;
  line-height: 2.3148vh;
}

.git__right-text-grey {
  font-size: 1.2963vh;
  color: #616161;
  font-weight: bold;
  background-color: #D4D4D4;
  text-align: center;
  border: 0.252vh solid black;
  line-height: 2.963vh;
  width: 9.1667vw;
  height: 3.0556vh;
  margin: -3.0556vh 0px 0px 10.1042vw;
}

.git__right-text-grey-bottom {
  font-size: 1.2963vh;
  color: #616161;
  font-weight: bold;
  background-color: #D4D4D4;
  text-align: center;
  border: 0.252vh solid black;
  line-height: 2.963vh;
  width: 9.8589vw;
  height: 3.0556vh;
  margin: 0.6481vh 0px 0px 4.8958vw;
}

/* Fourth block - Web security + Package managers */
.security__left {
  width: 14.2708vw;
  height: 23.5185vh;
}

.security__left-text {
  font-size: 1.2963vh;
  font-weight: bold;
  background-color: #FFE599;
  text-align: center;
  border: 0.252vh solid black;
  line-height: 2.963vh;
  width: 6.4724vw;
  height: 3.7343vh;
  margin: 1.0417vw 0px -0.625vw 8.5185vh;
}

.security__left-text-white {
  font-size: 1.2963vh;
  color: black;
  font-weight: bold;
  background-color: white;
  text-align: center;
  border: 0.252vh solid black;
  line-height: 2.963vh;
  width: 12.7094vw;
  height: 8.0019vh;
  margin: 2.7778vh 0px 0px 1.5104vw;
  line-height: 2.5vh;
}

.security {
  width: 17.9688vw;
  height: 23.5185vh;
}

.security-text {
  font-size: 1.2963vh;
  font-weight: bold;
  background-color: #FFFF00;
  text-align: center;
  line-height: 2.963vh;
  border: 0.252vh solid black;
  width: 15.9458vw;
  height: 4.1148vh;
  margin: -0.1852vh 0px 9.2593vh 1.25vw;
}

.security-text-small {
  font-size: 1.2963vh;
  font-weight: bold;
  background-color: #FFFF00;
  text-align: center;
  line-height: 2.963vh;
  border: 0.252vh solid black;
  width: 8.9536vw;
  height: 4.0389vh;
  margin: 0px 0px 0px 2.2917vw;
  line-height: 3.7037vh;
}

.security__right {
  width: 19.8438vw;
  height: 23.5185vh;
}

.security__right-text {
  font-size: 1.2963vh;
  color: black;
  font-weight: bold;
  background-color: white;
  text-align: center;
  border: 0.252vh solid black;
  line-height: 2.963vh;
  width: 17.8167vw;
  height: 14.1926vh;
  margin: 7.1296vh 0vw 0vh .1563vw;
}

.security__right-inside-left-text {
  font-size: 1.2963vh;
  font-weight: bold;
  background-color: #FFE599;
  text-align: center;
  border: 0.252vh solid black;
  line-height: 2.963vh;
  width: 6.8229vw;
  height: 3.7343vh;
  margin: 0px 0px 0.463vh 0.3125vw;
}

.security__right-inside-right-text {
  font-size: 1.2963vh;
  font-weight: bold;
  background-color: #FFE599;
  text-align: center;
  border: 0.252vh solid black;
  line-height: 2.963vh;
  width: 9.399vw;
  height: 3.7343vh;
  margin: -8.4259vh 0px 8.8889vh 7.8125vw;
}

/* Fifth block - Advanced CSS */
.css__left {
  width: 24.8958vw;
  height: 10.9259vh;
}

.css__left-text {
  font-size: 1.2963vh;
  font-weight: bold;
  background-color: #FFFF00;
  text-align: center;
  line-height: 2.963vh;
  border: 0.252vh solid black;
  width: 6.1953vw;
  height: 3.3333vh;
  margin: 0px 0px 0.2778vh 1.25vw;
}

.css__left-text-grey {
  font-size: 1.2963vh;
  color: #616161;
  font-weight: bold;
  background-color: #D4D4D4;
  text-align: center;
  border: 0.252vh solid black;
  line-height: 2.963vh;
  width: 6.1953vw;
  height: 3.3333vh;
  margin: 0px 0px 0.2778vh 1.25vw;
}

.css__left-text-big {
  font-size: 1.2963vh;
  font-weight: bold;
  background-color: #FFFF00;
  text-align: center;
  line-height: 2.963vh;
  border: 0.252vh solid black;
  width: 16.7849vw;
  height: 10.7407vh;
  margin: -10.8333vh 0px 0px 8.0729vw;
  padding: 0.3704vh;
  line-height: 2.0741vh;
}

.css__right {
  width: 27.1875vw;
  height: 10.9259vh;
}

.css__right-text {
  font-size: 1.2963vh;
  font-weight: bold;
  background-color: #FFFF00;
  text-align: center;
  line-height: 2.963vh;
  border: 0.252vh solid black;
  width: 6.2583vw;
  height: 3.3333vh;
  margin: -10.8333vh 0px 0px 18.9583vw;
}

.css__right-text-big {
  font-size: 1.2963vh;
  font-weight: bold;
  background-color: #FFFF00;
  text-align: center;
  line-height: 2.963vh;
  border: 0.252vh solid black;
  width: 16.7849vw;
  height: 10.7407vh;
  margin: 0px 0px 0px 0.8333vw;
  padding: 0.3704vh;
  line-height: 2vh;
}

.css__right-text-orange {
  font-size: 1.2963vh;
  font-weight: bold;
  background-color: #FFE599;
  text-align: center;
  border: 0.252vh solid black;
  line-height: 2.963vh;
  width: 6.2583vw;
  height: 3.3333vh;
  margin: 0.2778vh 0px 0px 18.9583vw;
}

.css__right-text-grey {
  font-size: 1.2963vh;
  color: #616161;
  font-weight: bold;
  background-color: #D4D4D4;
  text-align: center;
  border: 0.252vh solid black;
  line-height: 2.963vh;
  width: 6.2583vw;
  height: 3.3333vh;
  margin: 0.2778vh 0px 0px 18.9583vw;
}

/* Sixth block - Task runners and tools */
.task__left {
  width: 31.9271vw;
  height: 12.8704vh;
}

.task__left-text {
  font-size: 1.2963vh;
  font-weight: bold;
  background-color: #FFFF00;
  text-align: center;
  line-height: 2.963vh;
  border: 0.252vh solid black;
  width: 7.5604vw;
  height: 3.4611vh;
  margin: 3.9815vh 0px 0px 1.1458vw;
}

.task__left-text-grey {
  font-size: 1.2963vh;
  color: #616161;
  font-weight: bold;
  background-color: #D4D4D4;
  text-align: center;
  border: 0.252vh solid black;
  line-height: 2.963vh;
  width: 7.5604vw;
  height: 3.3528vh;
  margin: 0.3704vh 0px 0px 1.1458vw;
}

.task__middle-one-text {
  font-size: 1.2963vh;
  font-weight: bold;
  background-color: #FFFF00;
  text-align: center;
  line-height: 2.963vh;
  border: 0.252vh solid black;
  width: 5.9151vw;
  height: 3.8102vh;
  margin: -5.0926vh 0px 0px 11.1979vw;
}

.task__middle-two-text {
  font-size: 1.2963vh;
  font-weight: bold;
  background-color: #FFFF00;
  text-align: center;
  line-height: 2.963vh;
  border: 0.252vh solid black;
  width: 9.1729vw;
  height: 3.8102vh;
  margin: -3.8889vh 0px 0px 20.2604vw;
}

.task__right {
  width: 20.1563vw;
  height: 12.8704vh;
}

.task__right-text {
  font-size: 1.2963vh;
  font-weight: bold;
  background-color: #FFFF00;
  text-align: center;
  line-height: 2.963vh;
  border: 0.252vh solid black;
  width: 9.5641vw;
  height: 3.8861vh;
  margin: 6.0185vh 0px 0px 0.0521vw;
}

.task__right-multi-text {
  font-size: 1.2963vh;
  font-weight: bold;
  background-color: #FFFF00;
  text-align: center;
  line-height: 2.963vh;
  border: 0.252vh solid black;
  width: 6.1531vw;
  height: 3.0481vh;
  margin: -7.5vh 0px 7.8704vh 12.0833vw;
}

.task__right-multi-text-grey {
  font-size: 1.2963vh;
  color: #616161;
  font-weight: bold;
  background-color: #D4D4D4;
  text-align: center;
  border: 0.252vh solid black;
  line-height: 2.963vh;
  width: 6.1875vw;
  height: 3.3333vh;
  margin: -7.5vh 0px 0px 12.0833vw;
}

/* Seventh block - Mobule bundlers, Frameworks, Components */
.bundlers__left {
  width: 10.6771vw;
  height: 34.1667vh;
}

.bundlers__left-text {
  font-size: 1.2963vh;
  font-weight: bold;
  background-color: #FFFF00;
  text-align: center;
  line-height: 2.963vh;
  border: 0.252vh solid black;
  width: 7.5443vw;
  height: 3.0481vh;
  margin: -0.2778vh 0px 0.2778vh 1.1979vw;
}

.bundlers__left-text-orange {
  font-size: 1.2963vh;
  font-weight: bold;
  background-color: #FFE599;
  text-align: center;
  border: 0.252vh solid black;
  line-height: 2.963vh;
  width: 7.5443vw;
  height: 3.0481vh;
  margin: 0px 0px 0.2778vh 1.1979vw;
}

.bundlers__left-text-bottom {
  font-size: 1.2963vh;
  font-weight: bold;
  background-color: #FFFF00;
  text-align: center;
  line-height: 2.963vh;
  border: 0.252vh solid black;
  width: 9.4729vw;
  height: 3.0481vh;
  margin: 3.5185vh 0px -3.1481vh 1.1979vw;
}

.bundlers__left-text-bottom-orange {
  font-size: 1.2963vh;
  font-weight: bold;
  background-color: #FFE599;
  text-align: center;
  border: 0.252vh solid black;
  line-height: 2.963vh;
  width: 9.4729vw;
  height: 3.0481vh;
  margin: 3.6111vh 0px -3.1481vh 1.1979vw;
}

.bundlers__left-text-bottom-grey {
  font-size: 1.2963vh;
  color: #616161;
  font-weight: bold;
  background-color: #D4D4D4;
  text-align: center;
  border: 0.252vh solid black;
  line-height: 2.963vh;
  width: 9.4729vw;
  height: 3.0481vh;
  margin: 3.7963vh 0px -3.1481vh 1.1979vw;
}

.bundlers {
  width: 22.1875vw;
  height: 34.1667vh;
}

.bundlers-text {
  font-size: 1.2963vh;
  font-weight: bold;
  background-color: #FFFF00;
  text-align: center;
  line-height: 2.963vh;
  border: 0.252vh solid black;
  width: 7.587vw;
  height: 3.8102vh;
  margin: 2.3148vh 0px 0px 1.6667vw;
}

.bundlers-text-left {
  font-size: 1.2963vh;
  font-weight: bold;
  background-color: #FFFF00;
  text-align: center;
  line-height: 2.963vh;
  border: 0.252vh solid black;
  width: 9.6875vw;
  height: 3.9815vh;
  margin: 5.0926vh 0px 0px 12.4479vw;
}

.bundlers-text-right {
  font-size: 1.2963vh;
  font-weight: bold;
  background-color: #FFFF00;
  text-align: center;
  line-height: 2.963vh;
  border: 0.252vh solid black;
  width: 7.3438vw;
  height: 3.8102vh;
  margin: 3.7037vh 0px 0px 4.6875vw;
}

.bundlers-text-bottom {
  font-size: 1.2963vh;
  font-weight: bold;
  background-color: #FFFF00;
  text-align: center;
  line-height: 2.963vh;
  border: 0.252vh solid black;
  width: 7.1073vw;
  height: 3.8102vh;
  margin: 3.5185vh 0px 0px 15.0521vw;
}

.bundlers__right {
  width: 19.2188vw;
  height: 34.1667vh;
}

.bundlers__right-text {
  font-size: 1.2963vh;
  font-weight: bold;
  background-color: #FFFF00;
  text-align: center;
  line-height: 2.963vh;
  border: 0.252vh solid black;
  width: 6.2151vw;
  height: 3.0481vh;
  margin: 4.2593vh 0px 0px 1.3021vw;
}

.bundlers__right-text-right-no {
  font-size: 1.2963vh;
  font-weight: bold;
  background-color: #FFFF00;
  text-align: center;
  line-height: 2.963vh;
  border: 0.252vh solid black;
  width: 7.587vw;
  height: 3.0481vh;
  margin: -4.8148vh 0px 0px 11.4063vw;
}

.bundlers__right-text-right-orange {
  font-size: 1.2963vh;
  font-weight: bold;
  background-color: #FFE599;
  text-align: center;
  border: 0.252vh solid black;
  line-height: 2.963vh;
  width: 7.587vw;
  height: 3.0481vh;
  margin: 0.2778vh 0px 0px 11.4063vw;
}

.bundlers__right-text-orange {
  font-size: 1.2963vh;
  font-weight: bold;
  background-color: #FFE599;
  text-align: center;
  border: 0.252vh solid black;
  line-height: 2.963vh;
  width: 6.2156vw;
  height: 3.0481vh;
  margin: 2.4074vh 0px -5.9259vh 2.6563vw;
}

.bundlers__right-text-right {
  font-size: 1.2963vh;
  font-weight: bold;
  background-color: #FFE599;
  text-align: center;
  border: 0.252vh solid black;
  line-height: 2.963vh;
  width: 7.587vw;
  height: 3.0481vh;
  margin: 1.6667vh 0px -1.1111vh 11.4063vw;
}

.bundlers__right-text-right-yes {
  font-size: 1.2963vh;
  font-weight: bold;
  background-color: #FFE599;
  text-align: center;
  border: 0.252vh solid black;
  line-height: 2.963vh;
  width: 7.587vw;
  height: 3.0481vh;
  margin: 2.6852vh 0px 0px 11.4063vw;
}

.bundlers__right-text-bottom-orange {
  font-size: 1.2963vh;
  font-weight: bold;
  background-color: #FFE599;
  text-align: center;
  border: 0.252vh solid black;
  line-height: 2.963vh;
  width: 8.1443vw;
  height: 3.0481vh;
  margin: 2.4074vh 0px -2.1296vh 3.9063vw;
}

/* Eighth block - CSS frameworks and testing tools */
.testing__left {
  width: 10.6771vw;
  height: 26.9444vh;
}

.testing__left-text-whitebox {
  font-size: 1.2963vh;
  color: black;
  font-weight: bold;
  background-color: white;
  text-align: center;
  border: 0.252vh solid black;
  line-height: 2.963vh;
  padding: 0.2vw;
  width: 10.5875vw;
  height: 21.5083vh;
  margin: 3.2667vh 0vw 0vh 0vw;
}

.testing__left-text {
  font-size: 1.2963vh;
  font-weight: bold;
  background-color: #FFFF00;
  text-align: center;
  line-height: 2.963vh;
  border: 0.252vh solid black;
  line-height: 2.363vh;
  width: 9.2589vw;
  height: 2.5481vh;
  margin: 0.2778vh 0px 0px 0.625vw;
}

.testing {
  width: 18.3333vw;
  height: 26.9444vh;
}

.testing-text {
  font-size: 1.2963vh;
  font-weight: bold;
  background-color: #FFFF00;
  text-align: center;
  line-height: 2.963vh;
  border: 0.252vh solid black;
  width: 11.1875vw;
  height: 3.8102vh;
  margin: 2.3148vh 0px 0px 3.5937vw;
}

.testing-text-bottom {
  font-size: 1.2963vh;
  font-weight: bold;
  background-color: #FFFF00;
  text-align: center;
  line-height: 2.963vh;
  border: 0.252vh solid black;
  width: 17.3417vw;
  height: 12.0398vh;
  margin: 2.7778vh 0px 0px 0.9896vw;
  line-height: 2.7vh;
}

.testing-text-bottom-grey {
  font-size: 1.2963vh;
  color: #616161;
  font-weight: bold;
  background-color: #D4D4D4;
  text-align: center;
  border: 0.252vh solid black;
  line-height: 2.963vh;
  width: 4.2859vw;
  height: 3.2009vh;
  margin: 0.6481vh 0px 0px 0.9896vw;
}

.testing__right {
  width: 23.0729vw;
  height: 26.9444vh;
}

.testing__right-first-text {
  font-size: 1.2963vh;
  font-weight: bold;
  background-color: #FFFF00;
  text-align: center;
  line-height: 2.963vh;
  border: 0.252vh solid black;
  width: 8.787vw;
  height: 3.0481vh;
  margin: 0.2778vh 0px 0px 0.625vw;
}

.testing__right-first-text-whitebox {
  font-size: 1.2963vh;
  color: black;
  font-weight: bold;
  background-color: white;
  text-align: center;
  border: 0.252vh solid black;
  line-height: 2.963vh;
  padding: 0.3vw;
  width: 10.2016vw;
  height: 25.413vh;
  margin: 0.3704vh 0px 0px 1.5625vw;
}

.testing__right-second-text {
  font-size: 1.2963vh;
  font-weight: bold;
  background-color: #FFFF00;
  text-align: center;
  line-height: 2.963vh;
  border: 0.252vh solid black;
  width: 8.787vw;
  height: 3.0481vh;
  margin: 0.2778vh 0px 0px 0.625vw;
}

.testing__right-second-text-whitebox {
  font-size: 1.2963vh;
  color: black;
  font-weight: bold;
  background-color: white;
  text-align: center;
  border: 0.252vh solid black;
  line-height: 2.963vh;
  padding: 0.3vw;
  width: 10.2016vw;
  height: 25.413vh;
  margin: -25.3889vh 0px 0px 12.2917vw;
}

.testing__right-second-text-orange {
  font-size: 1.2963vh;
  font-weight: bold;
  background-color: #FFE599;
  text-align: center;
  border: 0.252vh solid black;
  line-height: 2.963vh;
  width: 8.787vw;
  height: 3.0481vh;
  margin: 0.2778vh 0px 0px 0.625vw;
}

/* Ninth block - PWA, SSR, GraphQL */
.progressive__left-left {
  width: 10.6771vw;
  height: 35vh;
}

.progressive__left-left-text-whitebox {
  font-size: 1.2963vh;
  color: black;
  font-weight: bold;
  background-color: white;
  text-align: center;
  border: 0.252vh solid black;
  line-height: 2.963vh;
  line-height: 2.363vh;
  padding: 0.3vw;
  width: 9.7302vw;
  height: 29.7vh;
  margin: 2.3148vh 0px 0px 0.9375vw;
}

.progressive__left-left-text {
  font-size: 1.2963vh;
  font-weight: bold;
  background-color: #FFFF00;
  text-align: center;
  line-height: 2.963vh;
  border: 0.252vh solid black;
  line-height: 2.363vh;
  width: 7.587vw;
  height: 2.6241vh;
  margin: -0.4vh 0px 0.75vh 0.8854vw;
}

.progressive__left-left-text-orange {
  font-size: 1.2963vh;
  font-weight: bold;
  background-color: #FFE599;
  text-align: center;
  border: 0.252vh solid black;
  line-height: 2.963vh;
  line-height: 2.363vh;
  width: 7.587vw;
  height: 2.6241vh;
  margin: -0.4vh 0px 0.75vh 0.8854vw;
}

.progressive__left {
  width: 14.6875vw;
  height: 35vh;
}

.progressive__left-text {
  font-size: 1.2963vh;
  font-weight: bold;
  background-color: #FFFF00;
  text-align: center;
  line-height: 2.963vh;
  border: 0.252vh solid black;
  width: 9.1094vw;
  height: 3.8102vh;
  margin: 2.4074vh 0px 0px 5.5729vw;
}

.progressive__left-text-bottom-whitebox {
  font-size: 1.2963vh;
  color: black;
  font-weight: bold;
  background-color: white;
  text-align: center;
  border: 0.252vh solid black;
  line-height: 2.963vh;
  width: 11.2302vw;
  height: 21.2611vh;
  margin: 4.4444vh 0px 0px 0.9896vw;
}

.progressive__left-text-bottom {
  font-size: 1.2963vh;
  font-weight: bold;
  background-color: #FFFF00;
  text-align: center;
  line-height: 2.963vh;
  border: 0.252vh solid black;
  width: 9.6443vw;
  height: 2.4389vh;
  margin: 0.2778vh 0px 0px 0.625vw;
  line-height: 1.6667vh;
}

.progressive {
  width: 15.0521vw;
  height: 35vh;
}

.progressive-text {
  font-size: 1.2963vh;
  font-weight: bold;
  background-color: #FFFF00;
  text-align: center;
  line-height: 2.963vh;
  border: 0.252vh solid black;
  width: 9.6875vw;
  height: 3.8102vh;
  margin: 2.4074vh 0px 0px 4.4792vw;
}

.progressive-text-middle {
  font-size: 1.2963vh;
  font-weight: bold;
  background-color: #FFFF00;
  text-align: center;
  line-height: 2.963vh;
  border: 0.252vh solid black;
  width: 11.9161vw;
  height: 3.8102vh;
  margin: 5.5556vh 0px 0px 1.0938vw;
}

.progressive-text-bottom-one {
  font-size: 1.2963vh;
  font-weight: bold;
  background-color: #FFFF00;
  text-align: center;
  line-height: 2.963vh;
  border: 0.252vh solid black;
  width: 5.425vw;
  height: 3.8102vh;
  margin: 13.4259vh 0px 0px 0px;
}

.progressive-text-bottom-two {
  font-size: 1.2963vh;
  font-weight: bold;
  background-color: #FFFF00;
  text-align: center;
  line-height: 2.963vh;
  border: 0.252vh solid black;
  width: 7.1583vw;
  height: 3.1241vh;
  margin: -5.0926vh 0px 5.463vh 7.7604vw;
}

.progressive__right {
  width: 11.6667vw;
  height: 35vh;
}

.progressive__right-text {
  font-size: 1.2963vh;
  font-weight: bold;
  background-color: #FFFF00;
  text-align: center;
  line-height: 2.963vh;
  border: 0.252vh solid black;
  width: 8.5302vw;
  height: 3.1241vh;
  margin: 0.9259vh 0px 0px 1.6667vw;
}

.progressive__right-text-grey {
  font-size: 1.2963vh;
  color: #616161;
  font-weight: bold;
  background-color: #D4D4D4;
  text-align: center;
  border: 0.252vh solid black;
  line-height: 2.963vh;
  width: 8.4443vw;
  height: 3.1241vh;
  margin: 0.5556vh 0px 0px 1.6667vw;
}

.progressive__right-text-middle {
  font-size: 1.2963vh;
  font-weight: bold;
  background-color: #FFFF00;
  text-align: center;
  line-height: 2.963vh;
  border: 0.252vh solid black;
  width: 4.9724vw;
  height: 3.1241vh;
  margin: 4.4444vh 0px 0px 0px;
}

.progressive__right-text-middle-right {
  font-size: 1.2963vh;
  font-weight: bold;
  background-color: #FFFF00;
  text-align: center;
  line-height: 2.963vh;
  border: 0.252vh solid black;
  width: 4.0292vw;
  height: 3.1241vh;
  margin: -4.7222vh 0px 0.6481vh 7.2396vw;
}

.progressive__right-text-middle-grey {
  font-size: 1.2963vh;
  color: #616161;
  font-weight: bold;
  background-color: #D4D4D4;
  text-align: center;
  border: 0.252vh solid black;
  line-height: 2.963vh;
  width: 4.0292vw;
  height: 3.1241vh;
  margin: 0px 0px 0px 7.2396vw;
}

.progressive__right-text-bottom-one {
  font-size: 1.2963vh;
  font-weight: bold;
  background-color: #FFE599;
  text-align: center;
  border: 0.252vh solid black;
  line-height: 2.963vh;
  width: 4.8885vw;
  height: 3.1241vh;
  margin: 1.5741vh 0px -0.5556vh 0.0521vw;
}

.progressive__right-text-bottom-two {
  font-size: 1.2963vh;
  font-weight: bold;
  background-color: #FFE599;
  text-align: center;
  border: 0.252vh solid black;
  line-height: 2.963vh;
  width: 4.8885vw;
  height: 3.1241vh;
  margin: -7.3148vh 0px 8.3333vh 6.4062vw;
}

/* Tenth block - Mobile Apps, Static stie, Desktop apps */
.mobile__left {
  width: 27.1354vw;
  height: 22.1296vh;
}

.mobile__left-text {
  font-size: 1.2963vh;
  font-weight: bold;
  background-color: #FFFF00;
  text-align: center;
  line-height: 2.963vh;
  border: 0.252vh solid black;
  width: 6.301vw;
  height: 3.1241vh;
  margin: -0.3704vh 0px 0.2778vh 0.9375vw;
}

.mobile__left-text-orange {
  font-size: 1.2963vh;
  font-weight: bold;
  background-color: #FFE599;
  text-align: center;
  border: 0.252vh solid black;
  line-height: 2.963vh;
  width: 6.301vw;
  height: 3.1241vh;
  margin: 0px 0px 0.2778vh 0.9375vw;
}

.mobile__left-text-left-one {
  font-size: 1.2963vh;
  font-weight: bold;
  background-color: #FFFF00;
  text-align: center;
  line-height: 2.963vh;
  border: 0.252vh solid black;
  width: 9.0016vw;
  height: 3.8102vh;
  margin: -8.4259vh 0px 0px 13.4375vw;
}

.mobile__left-text-left-two {
  font-size: 1.2963vh;
  font-weight: bold;
  background-color: #FFFF00;
  text-align: center;
  line-height: 2.963vh;
  border: 0.252vh solid black;
  width: 10.3302vw;
  height: 3.8102vh;
  margin: 5.5556vh 0px 0px 13.5937vw;
}

.mobile {
  width: 12.8125vw;
  height: 22.1296vh;
}

.mobile-text {
  font-size: 1.2963vh;
  font-weight: bold;
  background-color: #FFFF00;
  text-align: center;
  line-height: 2.963vh;
  border: 0.252vh solid black;
  width: 12.0448vw;
  height: 3.8102vh;
  margin: 4.6296vh 0px 0px 0.8333vw;
}

.mobile-text-bottom {
  font-size: 1.2963vh;
  font-weight: bold;
  background-color: #FFFF00;
  text-align: center;
  line-height: 2.963vh;
  border: 0.252vh solid black;
  width: 8.0229vw;
  height: 3.1241vh;
  margin: 2.8704vh 0px 0.463vh 0px;
}

.mobile-text-bottom-grey {
  font-size: 1.2963vh;
  color: #616161;
  font-weight: bold;
  background-color: #D4D4D4;
  text-align: center;
  border: 0.252vh solid black;
  line-height: 2.963vh;
  width: 8.0229vw;
  height: 3.1241vh;
  margin: 0px 0px 0.463vh 0px;
}

.mobile__right {
  width: 12.0313vw;
  height: 22.1296vh;
}

.mobile__right-text {
  font-size: 1.2963vh;
  font-weight: bold;
  background-color: #FFFF00;
  text-align: center;
  line-height: 2.963vh;
  border: 0.252vh solid black;
  width: 6.301vw;
  height: 3.1241vh;
  margin: 0px 0px 0.3704vh 5.4688vw;
}

.mobile__right-text-orange {
  font-size: 1.2963vh;
  font-weight: bold;
  background-color: #FFE599;
  text-align: center;
  border: 0.252vh solid black;
  line-height: 2.963vh;
  width: 6.301vw;
  height: 3.1241vh;
  margin: 0px 0px 0.3704vh 5.4688vw;
}

/* Eleventh block - WebA and ending */
.end {
  width: 52.0833vw;
  height: 28.2407vh;
}

.end-text {
  font-size: 1.2963vh;
  font-weight: bold;
  background-color: #FFFF00;
  text-align: center;
  line-height: 2.963vh;
  border: 0.252vh solid black;
  width: 9.0016vw;
  height: 3.8102vh;
  margin: 6.0185vh 0px 0.2778vh 2.7604vw;
}

.end-text-end {
  font-size: 1.2963vh;
  font-weight: bold;
  background-color: #FFFF00;
  text-align: center;
  line-height: 2.963vh;
  border: 0.252vh solid black;
  width: 8.8729vw;
  height: 3.8102vh;
  margin: 9.6296vh 0px 0.2778vh 3.3333vw;
}

/* Twelfth block - "soon" */
.bright-text {
  width: 8.25vw;
  height: 5.7037vh;
  color: #e7e4e4;
  margin: 0vh 0px 0px 28.0208vw;
  font-size: 1.2963vh;
  font-weight: bold;
  text-align: center;
  padding-top: 0.9259vh;
}

.redirect {
  color: pink;
  background: lightskyblue;
}

.redirect-text {
  margin-left: 5vw;
  font-style: oblique;
}
/*# sourceMappingURL=container.css.map */