.man {
  position: absolute;
  top: 168.5vh;
  right: 42.5vw;
}

.background {
    background-image: url(/img/frontend1920.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    
}

/* Footer */
footer {
	padding: 5vw;
	text-align: center;
}
/* Header */
header {
	flex-wrap: wrap;
	align-items: center;
	padding: 5vw;
	pointer-events: none;
}

.header__title {
    width: 85vw;
	font-size: 2.5vh;
	margin: 0;
    padding: 0 0.5vw;
}

/* Top Navigation Style */
.header-links {
	border: 0.1042vw solid;
}

.header-icon {
	pointer-events: visible;
	display: inline-block;
    padding: 1vw;
}

/* Demo links */
.demos {
    font-size: 1.7vh;
	padding: 0.8vh 0 0 0;
}

.demo {
    text-decoration: none;
	font-weight: bold;
	margin: 0 1.2vh 0 0;
    pointer-events: visible;
    color: black;

}

.github {
    pointer-events: visible;
    color: black;
    text-decoration: none;

}

/* unvisited link */
a:link {
    color: grey;
    text-decoration: none;

  }
  
  /* visited link */
  a:visited {
    color: rgb(59, 71, 80);
    text-decoration: none;

  }
  
  /* mouse over link */
  a:hover {
    color: rgb(214, 86, 150);
    text-decoration: none;
    cursor:help;
  }
  
  /* selected link */
  a:active {
    color: rgb(72, 119, 155);
    text-decoration: none;
    cursor:wait;
  }

  .tooltip-inner {
    background-color: #FFFF00 ;
    color: black;
    font-size: 1.2963vh;
  }

  .tooltip-orange > .tooltip-inner {
    background-color: #FFE599;
    font-size: 1.2963vh;
  }

  .tooltip-grey > .tooltip-inner {
    background-color: #D4D4D4;
    font-size: 1.2963vh;
  }
  
  .tooltip-white > .tooltip-inner {
    background-color: white;
    font-size: 1.2963vh;
  }
  
  .tooltip-arrow {
    display: none !important;
}

.row > *{
    padding-right: 0px !important;
    padding-left: 0px !important;
}



@media (max-width: 1140px){
    
    .background {
        background-image: url(/img/frontend-1024.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        
    }

    
    .internet__left-text, .internet-text, .internet__right-text,
    .basic__left-text, .basic__left-text_bottom, .basic-text, .basic__right-text, .basic__right-text-one,
    .git__left-text, .git__left-text-big, .git-text, .git-text_bottom, .git__right-text, .git__right-text-bottom, .git__right-text-grey, .git__right-text-grey-bottom,
    .security__left-text-white, .security-text, .security__left-text, .security-text-small, .security__right-text, .security__right-inside-left-text, .security__right-inside-right-text,
    .css__left-text, .css__left-text-grey, .css__left-text-big, .css__right-text-big, .css__right-text, .css__right-text-orange, .css__right-text-grey, 
    .task__left-text, .task__left-text-grey, .task__middle-one-text, .task__middle-two-text, .task__right-text, .task__right-multi-text, .task__right-multi-text, .task__right-multi-text-grey,
    .bundlers__left-text, .bundlers__left-text-orange, .bundlers__left-text-bottom, .bundlers__left-text-bottom-orange, .bundlers__left-text-bottom-grey,
    .bundlers-text, .bundlers-text-left, .bundlers-text-right, .bundlers-text-bottom, .bundlers__right-text, .bundlers__right-text-right-no, .bundlers__right-text-right-orange, .bundlers__right-text-orange,
    .bundlers__right-text-right, .bundlers__right-text-right-yes, .bundlers__right-text-bottom-orange,
    .testing__left-text-whitebox, .testing__left-text, .testing__left-text, .testing-text, .testing-text-bottom, .testing-text-bottom-grey,
    .testing__right-first-text, .testing__right-first-text-whitebox,.testing__right-second-text-whitebox, .testing__right-second-text, .testing__right-second-text-orange,
    .progressive__left-left-text-whitebox, .progressive__left-left-text, .progressive__left-left-text-orange, .progressive__left-text, .progressive__left-text-bottom-whitebox, .progressive__left-text-bottom,
    .progressive-text, .progressive-text-middle, .progressive-text-bottom-one, .progressive-text-bottom-two, .progressive__right-text, .progressive__right-text-grey, .progressive__right-text-middle, .progressive__right-text-middle-right,
    .progressive__right-text-middle-grey, .progressive__right-text-bottom-one, .progressive__right-text-bottom-two,
    .mobile__left-text, .mobile__left-text-orange, .mobile__left-text-left-one, .mobile__left-text-left-two, .mobile-text, .mobile-text-bottom, .mobile-text-bottom-grey,
    .mobile__right-text, .mobile__right-text-orange, .end-text, .end-text-end, .bright-text
    {
        font-size: 0.9259vh;
        line-height: 1.863vh; 
    }
    .basic__right-right-text {
        width: 5.0833vw;
        font-size: 0.7259vh;
        line-height: 2.763vh; 
    }
    .git__right-text-bottom, .git__right-text-grey, .git__right-text-grey-bottom {
        width: 5.3833vw;
    }
    .basic__right-text-one {
        font-size: 0.8vh;
        line-height: 2.863vh; 
    }
}

@media only screen and (max-width: 960px) {


    .internet__left-text, .internet-text, .internet__right-text,
    .basic__left-text, .basic__left-text_bottom, .basic-text, .basic__right-text, .basic__right-text-one,
    .git__left-text, .git__left-text-big, .git-text, .git-text_bottom, .git__right-text, .git__right-text-bottom, .git__right-text-grey, .git__right-text-grey-bottom,
    .security__left-text-white, .security-text, .security__left-text, .security-text-small, .security__right-text, .security__right-inside-left-text, .security__right-inside-right-text,
    .css__left-text, .css__left-text-grey, .css__left-text-big, .css__right-text-big, .css__right-text, .css__right-text-orange, .css__right-text-grey, 
    .task__left-text, .task__left-text-grey, .task__middle-one-text, .task__middle-two-text, .task__right-text, .task__right-multi-text, .task__right-multi-text, .task__right-multi-text-grey,
    .bundlers__left-text, .bundlers__left-text-orange, .bundlers__left-text-bottom, .bundlers__left-text-bottom-orange, .bundlers__left-text-bottom-grey,
    .bundlers-text, .bundlers-text-left, .bundlers-text-right, .bundlers-text-bottom, .bundlers__right-text, .bundlers__right-text-right-no, .bundlers__right-text-right-orange, .bundlers__right-text-orange,
    .bundlers__right-text-right, .bundlers__right-text-right-yes, .bundlers__right-text-bottom-orange,
    .testing__left-text-whitebox, .testing__left-text, .testing__left-text, .testing-text, .testing-text-bottom, .testing-text-bottom-grey,
    .testing__right-first-text, .testing__right-first-text-whitebox,.testing__right-second-text-whitebox, .testing__right-second-text, .testing__right-second-text-orange,
    .progressive__left-left-text-whitebox, .progressive__left-left-text, .progressive__left-left-text-orange, .progressive__left-text, .progressive__left-text-bottom-whitebox, .progressive__left-text-bottom,
    .progressive-text, .progressive-text-middle, .progressive-text-bottom-one, .progressive-text-bottom-two, .progressive__right-text, .progressive__right-text-grey, .progressive__right-text-middle, .progressive__right-text-middle-right,
    .progressive__right-text-middle-grey, .progressive__right-text-bottom-one, .progressive__right-text-bottom-two,
    .mobile__left-text, .mobile__left-text-orange, .mobile__left-text-left-one, .mobile__left-text-left-two, .mobile-text, .mobile-text-bottom, .mobile-text-bottom-grey,
    .mobile__right-text, .mobile__right-text-orange, .end-text, .end-text-end, .bright-text
    {
        font-size: 0.8259vh;
        line-height: 1.863vh; 
    }
    .basic__right-right-text {
        width: 5.0833vw;
        font-size: 0.7259vh;
        line-height: 2.763vh; 
    }
    .git__right-text-bottom, .git__right-text-grey, .git__right-text-grey-bottom {
        width: 5.3833vw;
    }
    .tooltip-inner {
        font-size: 0.6963vh;
      }
    
      .tooltip-orange > .tooltip-inner {
        font-size: 0.6963vh;
      }

      .tooltip-grey > .tooltip-inner {
        font-size: 0.6963vh;
      }
    
}

@media (max-width: 799px){
    
    .background {
      background-image: url(/img/frontend-less800.png) ;
      background-repeat: no-repeat;
      background-attachment: fixed;
    }

    .tooltip-inner {
         font-size: 2vh;
    }
    
    .tooltip-orange > .tooltip-inner {
         font-size: 2vh;
    }

    .tooltip-grey > .tooltip-inner {
         font-size: 2vh;
    }

    .html-text-orange, .javascript-text-orange-big, .css-frameworks-text-orange, .css-frameworks-text-yellow, .testing-text-yellow {
      line-height: 1.4vh;
    }
  
    .text-inside, .text-inside-orange, .text-inside-grey, .text-inside-url {
      font-size: 2.2vw;
    }
}